<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/home">Tamnet</a></div>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Users</a></li>
                <li><a href="/topics">Topics</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="topic-feed">
    <div class="new-topic">
        <p>can't find a topic?</p>
        <div class="make-topic"><a href="/new-topic">Make one!</a></div>
    </div>
        <% for(topic in topics) { %>
        <div class="topic-box">
            <h1><%= topics[topic].name %></h1>
            <p><%= topics[topic].description %></p>
            <form method="POST" action="/topics">
                <button class="join">join</button>
            </form>
        </div>
        <% } %>

        <div class="new-topic"><p>Topics you have already joined</p></div>
        <% for(topic in joined) { %>
        <div class="topic-box">
            <h1><%= joined[topic].name %></h1>
            <p><%= joined[topic].description %></p>
            <div class="open-topic"><a href=<%= "/topics/" + joined[topic].name %>>open</a></div>
        </div>
        <% } %>
    </div>
</body>
</html>